body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.textStyle {
    color: azure;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-text-stroke-color: #aeadad;
    -webkit-text-stroke-width: 1px;
}

.textStyleForButtons {
    color: #aeadad;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.corVencido {
    font-size: 12px;
    color: #f51313;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px; 
}

.corQuaseVencido {
    font-size: 12px;
    color: #FFFF00;
    -webkit-text-stroke-color: #ffd800;
    -webkit-text-stroke-width: 1px;
}
